# Python
__pycache__/

# rlviser
rlviser
settings.txt
collision_meshes/
rlut_meshes/

# outputs
wandb/
/models
/checkpoints
models/
checkpoints/

# Bot management files
bot_skills.txt
bot_metadata.txt
disabled_bots.txt
invalid_bots.txt
validated_bots.txt
runnable_bots.txt

.idea/
.pytest_cache/
.venv/
.vscode/
.aider*

.DS_Store


# Profiling
result.json
trace_processor

pause.flag
